
.menu {
    text-align: center;
    padding: 2rem;
}

.menu h2 {
    color: #ff6a00;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-family: "DM Sans", serif;
}

.menu-cards {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}
