.container.about {
    width: 100%;
    height: 100%;
    display: flex;
    padding-bottom: 5rem;
}

.container.about .about-txt {
    padding: 2rem;
}

.container.about .about-txt h3 {
    font-size: 3rem;
    font-family: "DM Sans", serif;
    color: #ff6a00;
}

.container.about .about-txt p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.container.about .about-txt button {
    background: #ff6a00;
    color: #fff;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.container.about .about-image {
    width: 50vw;
    border-bottom-left-radius: 50px;
}

.container.about .about-image {
    width: 50vw;
    border-bottom-left-radius: 50px;
}